<div class="navbar-brand navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse">
    <ul class="d-flex flex-column navbar-nav nav-pills nav-stacked">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['home']" routerLinkActive="active">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['qui']" routerLinkActive="active">Qui sommes-nous?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['contact']" routerLinkActive="active">Contact</a>
      </li>
    </ul>
  </div>
</div>
